body {
  font-family: Arial, sans-serif;
  background-color: #222;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.palette-container {
  text-align: center;
}

.color-box {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 5px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #b36c74ff;
  color: #EFDFBB;
  border: none;
  border-radius: 5px;
}
